 div.menu:hover{
          	width: 128px;
          	float: left;
          	margin-right: -40px;position:fixed;			
          }
 		div.menu:hover > #lin1{
 			display: inline-block;
 		  	 padding: 5px 5px 0px 5px;
             margin: 0;
 		}
 		  #lin1{
             color: blue;
 		  } 
 		div.menu:hover > #lin1{
 			color: black;
 			text-decoration: none;
 			border-radius: 5px 5px 0 0;
 			margin: 0;
 			box-shadow: 0px 0px 3px 1px #adadad;
 		}
 		div.menu:hover > #lin1::after{
 			display: block;
 			content: '';
 			width: auto;
 			height: 1px;
            background: white;
            box-shadow: 0px 0px 0px 5px white;
 			padding: 0px 5px 0px 5px;
 			margin:0;
 			position: relative;
 			top: 3px;
 			left: 0px;
 		}
 		div.menu:hover > span{
 			display: block;
 			margin-top: 1px;
 			padding: 4px 4px;
 			box-shadow: 0px 0px 3px 1px #adadad;
			background-color:white
 		}
       #lin2{
        	display: none;
        }
 		div.menu:hover > span > #lin2{
 			display: block;
 			color: blue;
 			margin: 3px;
 			padding: 5px 5px 5px 5px;
 			text-decoration: none;
 		}
 		div.menu:hover > span > #lin2:hover{
 			background: #54a7ff;
 			display: block;
 			margin: 3px;
 			padding: 5px 5px 5px 5px;
 			text-decoration: none;
            color: white;
 		}
.ber{border-top:2px black solid;border-bottom:2px black solid}.r{float:right}		
.gra{border-top:2px black solid;border-bottom:2px black solid;margin-bottom:4px;background: linear-gradient(180deg, #FFA3EA, #ABA2FB)}