@media(max-width:900px){
	.mob{display:block}.pc{display:none}#v{padding-left:25px!important;padding-right:25px!important}}

@media(min-width:900px){
	.mob{display:none}.pc{display:block}a{padding-left:300px!important;padding-right:300px!important}}
	body{background:black}#cw{color:white}
	div#oof{text-align:center}
	#but{background:black;padding:10px;border-radius:15px;border:2px grey solid}
	#but:hover{border:2px lightgrey solid}
	a{text-decoration:none;background:black;color:white;padding-left:45px;padding-right:45px;border-radius:15px;position:relative;border:2px #8bc34a solid;font-size:34px;font-family:arial;}
	a:hover{border:2px white solid}
	h1{font-family:arial}#goi{padding:2px!important}