.op{position:relative}
.op .bar {position:relative; display:none;color:black}
.op:hover .bar {display:block;}

.coin{border:2px black solid;border-radius:20%;padding:10px}

.menu{padding:10px;border-radius:15%;border:2px black solid;font-size:20px;margin-right:7px;font-family:arial;}

.yeg{background:linear-gradient(yellow,orange)}.grg{background:linear-gradient(green, yellow)}.reg{background:linear-gradient(red, yellow)}
.yeg:hover{background:linear-gradient(orange,yellow)}
.grg:hover{background:linear-gradient(yellow, green)}
.reg:hover{background:linear-gradient(yellow, red)}
#click:hover{background:grey;opacity:.2;border:18px grey solid;}
#click:active{background:grey;opacity:.1;border:20px grey solid;box-shadow:0px 1px 50px 10px red}

