@media  screen and (min-width: 725px) {
  .header-pc {
    display: block
  }
  .header-mobile {
    display: none
  }
}

@media  screen and (max-width: 725px) {
  .header-pc {
    display: none
  }
  .header-mobile {
    display: block
  }
}
 @keyframes go-left-right {
from {left: 0px;}
to {left: calc(100% - 90px); }}
.progress {animation: go-left-right .5s infinite alternate;position: relative;}
.op{position:relative}
.op .bar {position:relative; display:none; left:0; top:100%;}
.op:hover .bar {display:block;}
#mns{font-size:24px;background-color:#3498DB;color:white;padding:2px}#mns:hover{background-color: #2980B9;}#f12{font-size:10px}
.dem{color:black;margin-left:10px;background:url(/res/image/gfd.gif)}.ops{animation: go-left-right .5s infinite alternate;position:absolute}
.bar{padding: 10px 5px 10px 45px;margin-bottom:4px;text-decoration: none;margin-top:3px;box-shadow: 0px 0px 3px 1px black;background-color:white}
